<div class="elementor-row">
    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element">
        <div class="elementor-column-wrap elementor-element-populated">
            <div class="elementor-widget-wrap">
                <div class="elementor-widget-container">
                     <h2 class="elementor-heading-title elementor-size-default">OUR COMPANY</h2> 
                </div>
            </div>
            <div class="elementor-element elementor-widget elementor-widget-heading"> 
                <div class="elementor-widget-container"> 
                    <p class="elementor-heading-title elementor-size-default">
                        Dreamway Education Consultants is one of the leading Consultants in India providing Consultancy about study abroad and Visa Assistance.<br><br>
                        We have a team of professional experts providing better services to the aspiring students regarding their study in Abroad and Visa Assistance. Our Dedicated team provides counselling as per the requirement of the students and provide better options and services for their further future.
                        <br><br>
                        Students who have dream to Pursue their further studies from abroad. We are here to fulfill all your dreams.
                    </p>
             </div> 
            </div>
            <div class="elementor-element">
                <div class="elementor-widget-container"> 
                    <ul class="elementor-icon-list-items"> 
                        <li class="elementor-icon-list-item"> 
                            <span class="elementor-icon-list-icon"> 
                                <i aria-hidden="true" class="far fa-check-circle">

                                </i> 
                            </span> 
                            <span class="elementor-icon-list-text">
                                Experienced Counsellors
                            </span> 
                        </li> 
                        <li class="elementor-icon-list-item"> 
                            <span class="elementor-icon-list-icon"> 
                                <i aria-hidden="true" class="far fa-check-circle">

                                </i> 
                            </span> 
                            <span class="elementor-icon-list-text">
                                Specialists In Refusal Cases
                            </span> 
                        </li> 
                        <li class="elementor-icon-list-item"> 
                            <span class="elementor-icon-list-icon"> 
                                <i aria-hidden="true" class="far fa-check-circle">

                                </i>
                            </span> 
                            <span class="elementor-icon-list-text">
                                High Visa Success Rate
                            </span> 
                        </li> 
                        <li class="elementor-icon-list-item"> 
                            <span class="elementor-icon-list-icon"> 
                                <i aria-hidden="true" class="far fa-check-circle">

                                </i> 
                            </span> 
                            <span class="elementor-icon-list-text">
                                Best in Class Training
                            </span> 
                        </li> 
                    </ul> 
                </div>
            </div>
            <div class="elementor-element elementor-align-left elementor-widget__width-auto elementor-widget elementor-widget-button animated fadeInUp">
                <div class="elementor-widget-container">
                    <div class="elementor-button-wrapper">
                        <a href="/contact-us/" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                            <span class="elementor-button-content-wrapper">
                                <span class="elementor-button-icon elementor-align-icon-right">
                                    <i aria-hidden="true" class="fas fa-long-arrow-alt-right">

                                    </i>
                                </span> 
                                <span class="elementor-button-text">
                                    APPLY NOW
                                </span> 
                            </span> 
                        </a>
                    </div>
                </div> 
            </div>
            <div class="elementor-container elementor-column-gap-default"> 
                <div class="elementor-row">
                    <div class="elementor-column elementor-col-100 elementor-top-column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-widget elementor-widget-heading">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default">
                                            company history
                                        </h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-widget elementor-widget-heading">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                            BRIEF DESCRIPTION
                                        </h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-widget elementor-widget-text-editor">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p>Dreamway Education Consultants is a new company started in March 2021 that provides expertise in overseas education guidance
                                                and consultation for people worldwide, including Exam preparation, Visa Assistance, Application and Admission Assistance, '
                                                and Departure Assistance with best-in-class training and experienced counsellor to achieve clients’ career goals.
                                            </p>
                                            <p>We as a team believe in giving wings to the client dreams by successfully bridging the gap between their dreams and ways to 
                                                achieve it.&nbsp;
                                            </p> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-background-overlay">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-widget elementor-widget-heading">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">
                                                About our company
                                            </h2>
                                        </div>
                                    </div>
                                    <section class="elementor-section elementor-inner-section elementor-elementelementor-section-boxed elementor-section-height-default elementor-section-height-default">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-33 elementor-inner-column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-background-overlay">
                                                            
                                                        </div>
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-view-stacked elementor-shape-circle elementor-widget elementor-widget-icon">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-icon-wrapper">
                                                                        <div class="elementor-icon">
                                                                            <i aria-hidden="true" class="fas fa-at">

                                                                            </i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-widget elementor-widget-heading">
                                                                <div class="elementor-widget-container">
                                                                    <h3 class="elementor-heading-title elementor-size-default">
                                                                        We are
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-widget elementor-widget-text-editor"> 
                                                                <div class="elementor-widget-container"> 
                                                                    <div class="elementor-text-editor elementor-clearfix">
                                                                        <p>Dreamway Education Consultants is one of the leading Consultants in India providing Consultancy about study abroad and Visa Assistance
                                                                        </p>
                                                                        <p>We have a team of professional experts providing better services to the aspiring students regarding their study in Abroad and Visa Assistance.&nbsp;
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-33 elementor-inner-column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-background-overlay">
                                                        </div>
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-view-stacked elementor-shape-circle elementor-widget elementor-widget-icon">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-icon-wrapper">
                                                                        <div class="elementor-icon">
                                                                            <i aria-hidden="true" class="fas fa-code">

                                                                            </i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-widget elementor-widget-heading">
                                                                <div class="elementor-widget-container"> 
                                                                    <h3 class="elementor-heading-title elementor-size-default">
                                                                        We believe
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-widget elementor-widget-text-editor">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix">
                                                                        <p>that Our Students can transformed into Successful person. We will guide them for their better future. When they seek Study from Abroad.
                                                                        </p>
                                                                        <p>Students who have dream to Pursue their further studies from abroad. We are here to fulfill all your dreams.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-33 elementor-inner-column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-background-overlay">

                                                        </div>
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-view-stacked elementor-shape-circle elementor-widget elementor-widget-icon">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-icon-wrapper">
                                                                        <div class="elementor-icon">
                                                                            <i class="fa fa-telegram" aria-hidden="true">

                                                                            </i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-widget elementor-widget-heading">
                                                                <div class="elementor-widget-container">
                                                                    <h3 class="elementor-heading-title elementor-size-default">
                                                                        We envision
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-widget elementor-widget-text-editor">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix">
                                                                        <p>To become a global leader in Overseas study services by following best practices and methodologies to meet expectations of our clients and to provide complete, reliable solutions to individuals in the field of Education

                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
