
<div class="container-fluid m-0 p-0 ">
  <div class="bg-image p-5 " 
           style="background-image: url('https://skylighteducation.in/img/home-slider/slider-13.jpg'); height:400px; width: 100%">
        <div class="text-center text-white p-lg-5 mx-auto my-5">
           <h1 class="">ABOUT US</h1> 
        </div>
      </div>
      </div>

      <!-- <div class="position-relative overflow-hidden p-md-5 my-md-3 " > -->
        <div class="container my-5 py-5">
        <div class="row ">
          <!-- <div class="col-sm-7 my-5 text-center"> -->
            <div class="col my-5 ">
              <h5 class="text-muted">Company History</h5><br>
              <h2>Brief Description</h2><br>
              <p class="lead fw-light">Fenix Immigration is a global immigration firm that was established in 2010. 
                The company was founded by a team of experienced immigration attorneys who recognized the need for a client-focused, results-driven immigration law firm.      
                The firm offers a wide range of immigration services, including business and investor immigration, family sponsorship, and refugee and asylum applications.</p>
              </div>   
            <!-- </div> -->
        <div class="col">
          <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 370px; border-radius: 21px 21px 0 0;"></div>
        </div>
      </div>
      </div>
      
  
      <div class="position-relative overflow-hidden p-md-5 my-md-3 " style="background-color:rgb(240, 240, 247)">
        <div class="container">
        <div class="row mx-auto my-2">
          <div class="col-sm-7 my-5 text-center">
            <img src="assets\img\Screenshot_2023-03-07_at_4.19.26_PM-removebg-preview.png" style="height:80% ; width:70% ;">
          </div>
        <div class="col-sm-5 p-lg-2   ">
          <h1 class="display-4 fw-normal">Our Company</h1><br>
          <p class="lead fw-light">We have a team of professional experts providing better services to the aspiring students regarding their study in Abroad and Visa Assistance. 
            Our Dedicated team provides counselling as per the requirement of the students and provide better options and services for their further future.
          </p><br>
        </div>
      </div>
      </div>
      </div>
  
      <div class="container mt-4 mb-5">
        <div class="row ">
            <div class="col my-5 text-center">
              <h2>Why Choose Us ?</h2><br>
              <div class="row my-4">
                <div class="col">
                  <h1>1000+</h1>
                <p class="lead fw-light">Clients </p>
                </div>
                <div class="col">
                  <h1>800+</h1>
                <p class="lead fw-light">Counselled </p>
              </div>
              <div class="col">
                <h1>1000+</h1>
                <p class="lead fw-light">Feni immigration </p>
              </div>
              <div class="col">
                <h1>30+</h1>
                <p class="lead fw-light">Country</p>
              </div>
            </div>

              </div>   
      </div>
      </div>


    
      <div class="container-fluid m-0 p-0 ">
    <div class="bg-image p-2 mb-5" style="background-image: url('https://skylighteducation.in/img/home-slider/slider-6.jpg');">
      <div class="text-center text-white p-lg-5 mx-auto my-5">
        <h1 class="fst-italic text-dark fw-bolder">Wanna Meet Us</h1> 
          <h1 class="fst-italic text-dark fw-bolder">  Or </h1>
            <h1 class="fst-italic text-dark fw-bolder">  Book An Appoinment</h1> <br>
        <a href="contact" class="btn btn-dark">Book Now</a> 
      </div>
      </div>
      </div>
      
      <div class="container my-5 py-5">
        <div class="row ">
          
            <div class="col">
              <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 370px; border-radius: 21px 21px 0 0;"></div>
            </div>
            <div class="col my-5 ">
              <!-- <h5 class="text-muted">Director's Message</h5><br> -->
              <h2>Director's Message</h2><br>
              <p class="lead fw-light">Fenix Immigration is a global immigration firm that was established in 2010. 
                The company was founded by a team of experienced immigration attorneys who recognized the need for a client-focused, results-driven immigration law firm.      
                The firm offers a wide range of immigration services, including business and investor immigration, family sponsorship, and refugee and asylum applications.</p>
              </div>   
      </div>
      </div>



  
    