img {
    width: 100%;
    height: auto;
  }

  @media(max-width: 990px){
    .card{
      margin: 20px;
    }
  }

  

span {  
    display: inline-block;
}

.section-head h4 {
position: relative;
padding:0;
color:#081c8e;
line-height: 1;
letter-spacing:0.3px;
font-size: 34px;
font-weight: 700;  
text-align:center;
text-transform:none;
margin-bottom:30px;
}

.section-head h4:before {
content: '';
width: 60px;
height: 3px;
background: #1104a3;
position: absolute;
left: 0px;
bottom: -10px;
right:0;  
margin:0 auto;
}

.section-head h4 span {
font-weight: 700;
padding-bottom: 5px;
color:#2f2f2f
}

.section-head p, p.awesome_line{
  color:#818181;
  font-size:16px;
  line-height:28px;
  text-align:center;  
}

.item {
background: #fff;
text-align: center;
padding: 30px 25px;
-webkit-box-shadow:4px 4px 4px 4px rgba(0, 0, 0, 0.07);
box-shadow:4px 4px 4px 4px rgba(0, 0, 0, 0.07);
border-radius: 20px;
/* border:5px solid rgba(0, 0, 0, 0.07); */
margin-bottom: 30px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
height: 360px;
}

.item:hover{
background:#05125f;
opacity: 90%;
/* box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2); */
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}

.item:hover .item, .item:hover span.icon{
background:#fff;
border-radius:10px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}

.item:hover h6, .item:hover p{
color:#fff;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}

.item .icon {
font-size: 40px;
margin-bottom:25px;
color: #020932;   
width: 90px;
height: 90px;
line-height: 96px;
border-radius: 50px;
}

.item .feature_box_col_one{
background:rgba(0, 108, 255, 0.15);
color:#020932
}
.item .feature_box_col_two{
background:rgba(0, 108, 255, 0.15);
color:#020932
}
.item .feature_box_col_three{
background:rgba(0, 108, 255, 0.15);
color:#020932
}
/* .item .feature_box_col_four{
background:rgba(0, 108, 255, 0.15);
color:#020932
}
.item .feature_box_col_five{
background:rgba(0, 108, 255, 0.15);
color:#020932
}
.item .feature_box_col_six{
background:rgba(0, 108, 255, 0.15);
color:#020932
} */

.item p{
font-size:15px;
line-height:26px;
}
.item h6 {
margin-bottom:20px;
color:#2f2f2f;
}