
  .card {
    height: 100%;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    /* padding: 14px 80px 18px 36px; */
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
  }
  
  
  @media(max-width: 990px) {
    .card {
      margin: 20px;
    }
  }

  .banner{
    background:
    linear-gradient(to right, rgba(20, 23, 23) 0%, transparent)0% 0%,
    url('https://img.freepik.com/free-photo/business-man-financial-inspector-secretary-making-report-calculating-checking-balance-internal-revenue-service-inspector-checking-document-audit-concept_1423-126.jpg');
    padding:160px;
    background-size:cover;
    background-position: center center;
  }
  