<div class="container-fluid m-0 p-0 ">
  <div class="bg-image p-5 "
    style="background-image: url('https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); background-position: center center; background-repeat: no-repeat; background-size: cover;">
    <div class="fw-bold text-center text-white p-lg-5 mx-auto my-5 animated fadeInDown">
      <h1 class="">OUR SERVICES</h1>
    </div>
  </div>
</div>




<div class="container mt-5">
  <div class=" text-center my-5">
    <h2 class="h1 text-center">Services We Provide</h2>
    <p class="lead fw-light mt-4">Fenix offers free consultations to individuals who are looking to retain a visa but have some questions before 
      making a decision. This free case evaluation service allows prospective clients to contact
       us and understand what services we can offer. This is an opportunity for prospective clients to learn about their immigration
        options and how Fenix immigration can help them. </p>
  </div>
</div>

<div class="container pb-5">
  <div class="row animated fadeInUp">
    <div class="col-12 col-sm-6 col-lg-4 mb-3" *ngFor="let services of servicesList">
      <div class="card card-1 mb-3 shadow-lg" style=" border-color: rgb(3, 22, 112);">
        <div class="card-body p-4">
          <div class="fw-bold fs-6"> {{services.title}}</div>&nbsp; 
          <p class="card-text">{{services.description}}</p>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container mt-2 my-4 ">
  <div class="row  ">
    <div class="slider col-12 text-center mb-3">
      <ngb-carousel [interval]="4500" [keyboard]="true" [wrap]="true" [animation]="true" [showNavigationIndicators]="false" [showNavigationArrows]="true">
        <ng-template ngbSlide *ngFor="let testimonial of testimonialList" class="rounded">
          <div class="rounded">
            <img loading="eager" class="rounded-circle shadow-1-strong my-4" [src]="testimonial.imageUrl" style="width: 80px;">
            <div class=" row d-flex justify-content-center ">
              <div class="col-lg-3" style="width: 100%">
                <h5 class="my-3">{{testimonial.title}}</h5>
                <p class="text-muted">
                  <i class="fas fa-quote-left pe-2" style="font-size: 20px;"></i>
                  "{{testimonial.description}}"
                </p>
              </div>
            </div>
          </div> 
        </ng-template>
       </ngb-carousel>
    </div>
  </div>
</div>

