<div class="container-fluid m-0 p-0 ">
  <div class="bg-image p-5" style="background-image: url('https://skylighteducation.in/img/home-slider/slider-7.jpg'); background-position: center center; background-repeat: no-repeat; background-size: cover;">
        <div class="row mt-5">  
          <div class="col-md-8 mt-5">      
          <div class="text-left text-white p-5 mt-5">
           <h1>Best Solution to all </h1>
           <h1>Immigration matters</h1>
           <p>Consult with Fenix and get the best possible solutions for you to fulfill your dreams.</p><br>
           <a href="contact" class=" btn btn-primary" >APPLY NOW</a>
         </div>
        </div>
      <div class="col-md-4 mt-2">
        <div class="card mt-5 " style="width:18rem;">
            <div class="card-body" style="background-color:rgb(187, 187, 193)">
              <h5 class="card-title text-center">Enquiry Form</h5>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-12 mb-3">
                      <label for="name">Name</label>
                      <input type="name" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group col-md-12 mb-3">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group col-md-12 mb-3">
                      <label for="contact">Contact No.</label>
                      <input type="contact" class="form-control" id="contact" placeholder="Contact number">
                    </div>
                    <div class="form-group col-md-12 mb-3">
                      <label for="country">Country</label>
                       <select class="form-select" id="inputGroupSelect03" id="country" aria-label="Example select with button addon">
                        <option selected>Country</option>
                        <option value="1">Canada</option>
                        <option value="2">Australia</option>
                        <option value="3">New Zealand</option>
                        <option value="4">UK</option>
                        <option value="5">USA</option>
                        <option value="6">Germany</option>
                        <option value="7">Singapore</option>
                      </select>
                    </div>
                  </div>
                  <div class="text-center">
                  <!-- <a class="btn btn-sm text-white" style="background-color: #020932">Submit</a> -->
                  <a href="contact" class=" btn btn-outline-primary" >Submit</a>
                </div>
                </form>
             </div>       
            </div>
          </div>
        </div>
      </div>
    </div>
   
  
      <div class="container mt-5">
          <div class="text-center">
          <h1>STUDY VISA</h1>
          <h6 class="text-muted"> Choose from vast Countries to settle in Abroad</h6>
      </div>
  
  <div class="row">
      <div class="col-12 col-sm-6 col-lg-4 mb-3">
        <div class="card card-1 ">
          <img src="https://imageio.forbes.com/specials-images/imageserve/874837640/Urban-skyline-including-the-CN-Tower--point-of-view-from---/960x0.jpg?format=jpg&width=960" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">CANADA</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-3">
        <div class="card card-1 ">
          <img src="https://media.istockphoto.com/id/691610536/photo/aucklands-skyline-at-dawn.jpg?b=1&s=170667a&w=0&k=20&c=-Ok-i87LMHAOdoUrcWps4GPcsPrGS8NcTUndYrdpZ2o=" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">NEW ZEALAND</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-3">
        <div class="card card-1 ">
          <img src="https://a.cdn-hotels.com/gdcs/production5/d1996/54fdb73f-eee5-4612-a3e7-6fc7ed2f7bee.jpg?impolicy=fcrop&w=800&h=533&q=medium" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">AUSTRALIA</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
      </div>
        </div>

        <div class="text-center my-4">
          <a href="visas" class="btn btn-outline-secondary">Explore More</a>
        </div>
      </div>
   
  
  
  
      <div class="position-relative overflow-hidden p-md-5 my-md-3 " style="background-color:rgb(240, 240, 247)">
        <div class="container">
        <div class="row">
          <div class="col-md-6 sm-6 my-5 mx-auto d-flex flex-column justify-content-center align-items-center ">
            <img src="assets\img\Screenshot_2023-03-07_at_4.19.26_PM-removebg-preview.png" style="height:80% ; width:70% ;">
          </div>
        <div class="col-md-6 sm-6 mx-auto">
          <h1 class="display-4 fw-normal">Our Company</h1><br>
          <p class="lead fw-light">We have a team of professional experts providing better services to the aspiring students regarding their study in Abroad and Visa Assistance. 
            Our Dedicated team provides counselling as per the requirement of the students and provide better options and services for their further future.
          </p><br>
        </div>
      </div>
      </div>
      </div>
  
  
  <div class="container mt-5">
    <div class="text-center">
    <h1> OUR SERVICES</h1>
    <p class="fs-6 mt-3 text-muted">We have a team of professional experts providing better services to the aspiring students regarding their study in Abroad and Visa Assistance. 
      Our Dedicated team provides counselling as per the requirement of the students and provide better options and services for their further future.
    </p><br>
  </div>
  
  
  <div class="row">
  <div class="col">
    <div class="card card-1 mb-3" style="height: 200px; width: 400px; border-color: rgb(3, 22, 112);">
      <div class="card-body p-4">
        
          <div class="fw-bold fs-6"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-vcard" style="color: rgb(3, 22, 112)" viewBox="0 0 16 16">
            <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z"/>
            <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"/>
          </svg> CAREER COUNSELLING</div>&nbsp;
          <p class="card-text">Career counselling refers to counselling provided by career counsellors who help individuals choose an appropriate career based on their interests, skills and abilities.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-1 mb-3" style="height: 200px; width: 400px; border-color: rgb(3, 22, 112);">
      <div class="card-body p-4">
        <div class="fw-bold fs-6"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-window-stack" style="color: rgb(3, 22, 112)"  viewBox="0 0 16 16">
          <path d="M4.5 6a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1ZM6 6a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
          <path d="M12 1a2 2 0 0 1 2 2 2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2 2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10ZM2 12V5a2 2 0 0 1 2-2h9a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1Zm1-4v5a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V8H3Zm12-1V5a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v2h12Z"/>
        </svg> DEPARTURE ASSISTANCE  </div>&nbsp;
        <p class="card-text">Pre-departure Assistance, Departure and Arrival Assistance, Scholarship Assistance.</p>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-1 mb-3" style="height: 200px; width: 400px; border-color: rgb(3, 22, 112);">
      <div class="card-body p-4">
        <div class="fw-bold fs-6"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-briefcase" style="color: rgb(3, 22, 112)"  viewBox="0 0 16 16">
          <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/>
        </svg> DOCUMENTATION ASSISTANCE </div>&nbsp;
        <p class="card-text">We provide documents assistance to our students regarding their admission/offer letter and also for visa</p>
      </div>
    </div>
  </div>
  </div>
  <div class="text-center mt-2 mb-4">
    <a href="services" class="btn btn-outline-secondary">Know More</a>
  </div>
  </div>
  
  
  
  
  <div class="position-relative overflow-hidden p-md-5 my-md-3" style="background-color:rgb(240, 240, 247)">
    <div class="container">
    <div class="row my-1 mx-auto">
      <div class="col-md-8 p-4 my-4 mx-5 text-center" style= "background-image:url('https://www.insureon.com/-/jssmedia/blog/posts/2019/photo_people-reviewing-graphs-and-books.jpg?h=370&iar=0&w=750&rev=39b8af1ad7674569945f2960be514d1d'); height:370px; width: 55%;">
        <!-- <img src="assets/img/4.jpg"> -->
      </div>
    <div class="col-md-4 p-4 my-5">
      <h1 class="display-6 fw-normal">FREE CONSULTATION</h1><br>
      <p class=" fw-normal">Fenix Immigration ensures to solve the critical issues faced by our clients.
         The unique approach we follow is not only what differentiates us, but also what makes us successful. </p><br>
      <a href="contact" class="btn btn-outline-secondary">Consult For Free</a> 
    </div> 
    <!-- <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div> -->
  </div>
  </div>
  </div>
  
  