
    <div class="bg-image p-5" 
         style="background-image: url('https://skylighteducation.in/img/home-slider/slider-7.jpg'); height:650px; width: 100%">
      <div class="row">  
        <div class="col-md-8">      
        <div class="text-left text-white p-5 mt-5">
         <h1>Best Solution to all </h1>
         <h1>Immigration matters</h1>
      <p>Consult with Dreamway Education and get the best possible solutions for you to fulfill your dreams.</p><br>
      <a href="contact" class=" btn btn-primary">APPLY NOW</a>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <div class="card mt-5" style="width:18rem;">
          <div class="card-body" style="background-color:rgb(171, 171, 174)">
            <h5 class="card-title text-center">Enquiry Form</h5>
              <form>
                <div class="form-row">
                  <div class="form-group col-md-12 mb-3">
                    <label for="name">Name</label>
                    <input type="name" class="form-control" id="name" placeholder="name">
                  </div>
                  <div class="form-group col-md-12 mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="email">
                  </div>
                  <div class="form-group col-md-12 mb-3">
                    <label for="contact">Contact No.</label>
                    <input type="contact" class="form-control" id="contact" placeholder="contact number">
                  </div>
                  <div class="form-group col-md-12 mb-3">
                    <label for="country">Country</label>
                     <select class="form-select" id="inputGroupSelect03" id="country" aria-label="Example select with button addon">
                      <option selected>Country</option>
                      <option value="1">Canada</option>
                      <option value="2">Australia</option>
                      <option value="3">New Zealand</option>
                      <option value="4">UK</option>
                      <option value="5">USA</option>
                      <option value="6">Germany</option>
                      <option value="7">Singapore</option>
                    </select>
                  </div>
                </div>
                <div class="text-center">
                <a class="btn btn-outline-primary btn-sm">Submit</a></div>
              </form>
           </div>
           
          </div>
        </div>
      </div>
    </div>
 
    <div class="container mt-5">
        <div class="text-center">
        <h1>STUDY VISA</h1>
        <h6 class="text-muted"> Choose from vast Countries to settle in Abroad</h6>
    </div>

<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <div class="col">
      <div class="card h-100">
        <img src="https://imageio.forbes.com/specials-images/imageserve/874837640/Urban-skyline-including-the-CN-Tower--point-of-view-from---/960x0.jpg?format=jpg&width=960" class="card-img-top" style="width:100%; height: 270px">
        <div class="card-body">
          <h5 class="card-title">CANADA</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
   
    <div class="col">
      <div class="card h-100">
        <img src="https://media.istockphoto.com/id/691610536/photo/aucklands-skyline-at-dawn.jpg?b=1&s=170667a&w=0&k=20&c=-Ok-i87LMHAOdoUrcWps4GPcsPrGS8NcTUndYrdpZ2o=" class="card-img-top" style="width:100%; height: 270px">
        <div class="card-body">
          <h5 class="card-title">NEW ZEALAND</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://a.cdn-hotels.com/gdcs/production5/d1996/54fdb73f-eee5-4612-a3e7-6fc7ed2f7bee.jpg?impolicy=fcrop&w=800&h=533&q=medium" class="card-img-top" style="width:100%; height: 270px">
        <div class="card-body">
          <h5 class="card-title">AUSTRALIA</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card h-100">
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/10/2f/fe/united-kingdom.jpg?w=700&h=500&s=1" class="card-img-top" style="width:100%; height: 270px">
        <div class="card-body">
          <h5 class="card-title">UK</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
   
    <div class="col">
      <div class="card h-100">
        <img src="http://www.jcdimmigration.com/wp-content/uploads/2020/05/usa.jpg" class="card-img-top" style="width:100%; height: 270px">
        <div class="card-body">
          <h5 class="card-title">USA</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://media.istockphoto.com/id/1152163935/photo/reichstag-building-seat-of-the-german-parliament.jpg?s=612x612&w=0&k=20&c=m3-rqLWdw7VBAnTOxKJkzAjLXXG55uNsftI1P-jFxHQ=" 
        class="card-img-top" style="width:100%; height: 270px">
        <div class="card-body">
          <h5 class="card-title">GERMANY</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. 
            This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="position-relative overflow-hidden p-md-5 m-md-3 text-center bg-light">
  <div class="row">
    <div class="col-sm-7 mx-auto my-5">
      <img src="assets\img\Screenshot_2023-03-07_at_4.19.26_PM-removebg-preview.png">
    </div>
  <div class="col-sm-5 p-lg-2 mx-auto my-5">
    <h1 class="display-4 fw-normal">Our Company</h1><br>
    <p class="lead fw-normal">We have a team of professional experts providing better services to the aspiring students regarding their study in Abroad and Visa Assistance. 
      Our Dedicated team provides counselling as per the requirement of the students and provide better options and services for their further future.
    </p>
    <a href="about" class="btn btn-outline-secondary">Read More</a>
    
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
</div>

<section class="container mt-3">
  <div class="row">
    <div class="col text-center mb-4">
      <h2 class="h1 text-center">Services We Provide ...</h2>
      </div>
  </div>
</section>

<div class="container">
<!-- <div class="bg-image p-5 text-center mb-5 text-white" style="background-image: url('https://mdbootstrap.com/img/new/slides/003.jpg'); opacity: 0.5;"> -->

<div class="row justify-content-center ">
<div class="col-sm-5  ">
  <div class="card mb-3 ">
    <div class="card-body my-5">
      <p class="card-text">IELTS, PTE,Spoken English, TOEFL </p>
      <div><i class="fa-solid fa-skating fa-fw" style="background:DodgerBlue"></i> Skating</div>
    </div>
  </div>
</div>
<div class="col-sm-5  ">
  <div class="card mb-3 ">
    <div class="card-body my-5">
      <p class="card-text">IELTS, PTE,Spoken English, TOEFL </p>
      <div><i class="fa-solid fa-skating fa-fw" style="background:DodgerBlue"></i> Skating</div>
    </div>
  </div>
</div>
</div>
<div class="row justify-content-center ">
  <div class="col-sm-5  ">
    <div class="card mb-3 ">
      <div class="card-body my-5">
        <p class="card-text">IELTS, PTE,Spoken English, TOEFL </p>
        <div><i class="fa-solid fa-skating fa-fw" style="background:DodgerBlue"></i> Skating</div>
      </div>
    </div>
  </div>
  <div class="col-sm-5  ">
    <div class="card mb-3 ">
      <div class="card-body my-5">
        <p class="card-text">IELTS, PTE,Spoken English, TOEFL </p>
        <div><i class="fa-solid fa-skating fa-fw" style="background:DodgerBlue"></i> Skating</div>
      </div>
    </div>
  </div>
</div>
