<div class="bg-image p-5" 
         style="background-image: url('https://skylighteducation.in/img/home-slider/slider-7.jpg'); height:450px; width: 100%">
      <div class="text-center text-white mt-5 p-5">
         <h1>Easy Solution for Visas</h1> 
          <!-- <h1>Immigration matters</h1> -->
      <!-- <p>Consult with Dreamway Education and get the best possible solutions for you to fulfill your dreams.</p><br>
      <button type="button" class=" btn btn-primary btn-fill">APPLY NOW</button> -->
      </div>
    </div>

    <div class="container mt-5">
        <div class="text-center">
        <h1>STUDY VISA</h1>
        <h6 class="text-muted"> Choose from vast Countries to settle in Abroad</h6>
    </div>

<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <div class="col">
      <div class="card h-100">
        <img src="assets/img/1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Canada</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
   
    <div class="col">
      <div class="card h-100">
        <img src="assets/img/1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">New Zealand</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/img/1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Australia</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card h-100">
        <img src="assets/img/1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">UK</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
   
    <div class="col">
      <div class="card h-100">
        <img src="assets/img/1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">USA</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/img/1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Germany</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
    </div>
</div>

