<div class="container-fluid m-0 p-0 ">
  <div class="bg-image p-5 " style="background-image: url('https://images.unsplash.com/photo-1503945438517-f65904a52ce6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); background-position: center center; background-repeat: no-repeat; background-size: cover;">
    <div class="text-center text-white p-lg-5 mx-auto my-5">
      <h1 class="">VISA</h1> 
   </div>
   </div>
  </div>
  
      <div class="container mt-5">
          <div class="text-center">
          <h1>STUDY VISA</h1>
          <h6 class="text-muted"> Choose from vast Countries to settle in Abroad</h6>
      </div>
  
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-5 mb-5">
        <div class="col">
          <div class="card h-100">
            <img src="https://imageio.forbes.com/specials-images/imageserve/874837640/Urban-skyline-including-the-CN-Tower--point-of-view-from---/960x0.jpg?format=jpg&width=960" class="card-img-top" style="width:100%; height: 270px">
            <div class="card-body">
              <h5 class="card-title">CANADA</h5>
              <p class="card-text">Canada is a vast and beautiful country with a diverse range of landscapes, cultures, and experiences to offer. Fill your Dream of studying or working in Canada with our experienced Staff and Experts.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://media.istockphoto.com/id/691610536/photo/aucklands-skyline-at-dawn.jpg?b=1&s=170667a&w=0&k=20&c=-Ok-i87LMHAOdoUrcWps4GPcsPrGS8NcTUndYrdpZ2o=" class="card-img-top" style="width:100%; height: 270px">
            <div class="card-body">
              <h5 class="card-title">NEW ZEALAND</h5>
              <p class="card-text">New Zealand is a country renowned for its breathtaking natural beauty. From stunning landscapes to pristine beaches. Study and Work in New Zealand. Get all necessary details from our faculty.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://a.cdn-hotels.com/gdcs/production5/d1996/54fdb73f-eee5-4612-a3e7-6fc7ed2f7bee.jpg?impolicy=fcrop&w=800&h=533&q=medium" class="card-img-top" style="width:100%; height: 270px">
            <div class="card-body">
              <h5 class="card-title">AUSTRALIA</h5>
              <p class="card-text">Australia is a land of stunning natural beauty, with its unique landscapes, diverse flora and fauna, and breathtaking coastal areas. Get Settled in Australia with real advice from our experienced Staff with priceless tips.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/10/2f/fe/united-kingdom.jpg?w=700&h=500&s=1" class="card-img-top" style="width:100%; height: 270px">
            <div class="card-body">
              <h5 class="card-title">UK</h5>
              <p class="card-text">The United Kingdom is a country with a rich history and diverse landscape, offering many beautiful places to explore. Get Settled in UK with real advice from our experienced Staff.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="http://www.jcdimmigration.com/wp-content/uploads/2020/05/usa.jpg" class="card-img-top" style="width:100%; height: 270px">
            <div class="card-body">
              <h5 class="card-title">USA</h5>
              <p class="card-text">The beauty of the USA is vast and diverse, with a wide range of landscapes, cultures, and attractions to explore. Fill your Dream of working in USA with our experienced Staff and Experts.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://media.istockphoto.com/id/1152163935/photo/reichstag-building-seat-of-the-german-parliament.jpg?s=612x612&w=0&k=20&c=m3-rqLWdw7VBAnTOxKJkzAjLXXG55uNsftI1P-jFxHQ=" 
            class="card-img-top" style="width:100%; height: 270px">
            <div class="card-body">
              <h5 class="card-title">GERMANY</h5>
              <p class="card-text">Germany is a beautiful country with a rich history, diverse culture, stunning natural landscapes, and architectural marvels. Fill your Dream of studying or working in Germany with our experienced Staff and Experts.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    