  <footer class="footer footer-expand-lg py-5" style="background-color: rgb(2, 9, 44);">
    <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <img src="assets\img\fenixLogoWithTextInWhite.png" width="150" height="50" style="margin-left:50px;">
        <h5 class="text-white ms-5">Fenix Immigration Services</h5>
        <p class="d-block mb-3 ms-5 text-white" style="margin-left:40px">Providing personalized solutions to individuals and families seeking to immigrate and get visa assistance.</p>
      </div>
      <div class="col-xs-6 col-md-4 ms-5 text-white">
        <h5>Official Info</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary text-white" style ="text-decoration:none;" href="#">Call us: +91 1234567890</a></li>
          <li><a class="link-secondary text-white" style ="text-decoration:none;" href="#">Email: info@fenix.com</a></li>
          <li><a class="link-secondary text-white" style ="text-decoration:none;" href="#">Address: ABC Building, ABC Street </a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>