<footer class="footer footer-expanf-lg py-5" style="background-color: rgb(2, 9, 44);">
  <div class="row">
    <div class="col-6 col-md-4">
      <img src="assets\img\fenixLogoWithTextInWhite.png" width="350" height="150" style="margin-left:50px;">
      <p class="d-block mb-3 text-white" style="margin-left:40px">Providing personalized solutions to individuals and families seeking to immigrate and get visa assistance.</p>
    </div>
    <div class="col-6 col-md-4 text-white">
      <h5>Official Info</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-white" style ="text-decoration:none;" href="#">Call us: +91 1234567890</a></li>
        <li><a class="link-secondary text-white" style ="text-decoration:none;" href="#">Email: info@fenix.com</a></li>
        <li><a class="link-secondary text-white" style ="text-decoration:none;" href="#">Address: ABC Building, ABC Street </a></li>
      </ul>
    </div>
    <div class="col-6 col-md-4 text-white">
      <h5>Newsletter</h5>
      <p class="heading-title size-default text-white">Subscribe to our newsletter to get out latest updates and news</p>
      <div class="input-group w-50 mb-3">
        <input type="text" class="form-control" placeholder="Your mail address" aria-label="Recipient's username" aria-describedby="button-addon2" style="width:200px;">
        <button class="btn btn-outline-secondary text-white" type="button" id="button-addon2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
          <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
        </svg></button>
      </div>
    </div>
  </div>
</footer>